@tailwind base;
@tailwind components;
@tailwind utilities;

html, #app {
    
    margin: 0 auto;    
    background-image: url("./../../static/space.jpg");
    background-size: 100%;
    min-width: 700px;
    height: auto;
}

#play {
    max-width: 1200px;   
    margin: 10px auto;
    background-image: url("./../../static/jungle.jpg")
}

#win {
    margin: 10px auto;
    max-width: 1200px;    
    background-image: url("./../../static/jungle.jpg");
    
}

#stars {
    max-width: 1200px;    
    margin: 10px auto;
    font-family: Delicious;
    font-size: 26px;    
    background-image: url("./../../static/yellow.png");
    background-size: cover;
}


#level {
    max-width: 1200px;
    margin: 10px auto;
    font-family: Delicious;
    font-size: 26px;    
    background-image: url("./../../static/red1.png");
    background-size: cover;
}

#start {
    max-width: 1200px;
    min-height: 150px;
    margin: 10px auto;
    font-family: Delicious;
    font-size: 22px;    
    background-image: url("./../../static/green.png");
    background-size: cover;
}


#header {
    max-width: 1200px;
    margin: 10px auto;
    background-image: url("./../../static/ai.png")
}

#question {
    max-width: 1200px;
    margin: 10px auto;
    padding-left: 0;
    background-image: url("./../../static/lemons.jpg")
}

.pictures {
    height: 150px;
    
}

@font-face {
    font-family: Delicious;
    src: url('./../../static/fonts/cat.ttf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('./../../static/fonts/cat.ttf');
}

@media (max-width: 767px) {
    #level, #stars {
        flex-direction: column;
        flex-wrap: wrap;
    }

}
    
