@tailwind base;
@tailwind components;
@tailwind utilities;

#play {
    background-image: url("../static/jungle.jpg")
}

#win {
    background-image: url("../static/jungle.jpg");
    
}

#header {
    background-image: url("../static/ai.png")
}

#question {
    background-image: url("../static/lemons.jpg")
}

@font-face {
    font-family: Delicious;
    src: url('../static/fonts/cat.ttf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('../static/fonts/cat.ttf');
}